* {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;

  text-transform: uppercase;
}

body {
  background-color: var(--white);
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

#heading {
  position: absolute;

  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  padding: 0;
  margin: 0;
}

#heading .cursor {
  position: absolute;

  width: 200px;
  height: 200px;

  cursor: pointer;
  opacity: 0;
  --fade: 0%;
  --visibility: 100%;
  animation: fade-in 0.5s ease-in 2s forwards;

  z-index: 99;
  animation: fade-in 0.5s linear 2s forwards;
  transition: 0.3s;
}

#heading .cursor img {
  position: absolute;

  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-94%, -60%);
}

#heading .cursor-guide-bar {
  position: absolute;

  top: 0;

  background-color: var(--light);
  transition: 0.3s;
  opacity: 0;
  --visibility: 30%;
  --fade: 10%;
}

#drip-component {
  position: absolute;

  top: 36%;
  right: 95%;
  z-index: 99;
  width: 0;
  height: 0;

  transition: 1s 0.2s;

  /* background-color: green; */
}

.water-path {
  position: absolute;

  top: 0;
  left: 0;
  width: 200%;
  height: 2px;
  rotate: 135deg;

  transform: translateY(-50%, -50%);
}

#drip-component #drip {
  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
  width: 50%;
  background-image: linear-gradient(90deg, #74ccf4, #1ca3ec, #0f5e9c);
}

#heading .contents {
  position: relative;

  margin: 12px;
  top: 50%;
  transform: translateY(-50%);

  text-align: center;
}

#heading .contents .logo-container {
  margin: 20px;
}

#heading .contents .text-container {
  opacity: 0;
  animation: fade-in 1s ease-in 1s forwards;
  --visibility: 100%;
  --fade: 0%;
}
